body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

header h1 a {
    color: red;
    text-decoration: none;
}

a{
    text-decoration: none;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry{
    margin-bottom: 2rem;
}